// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
    background: transparent;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    background: #fff;

    /* Add additional styles here for the COLLAPSED state */
  }
}

.navbar-default .navbar-brand {
    color: red;
    font-weight: 300;
}
.navbar-default.affix .navbar-nav > li > a {
    color: red;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
/* Header Styles for Demo */
header
{
  padding-top: 300px;
  text-align: center;
  background-image: url(/bricoleur.jpg);
  height: 650px;
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
}
a.typewrite
{
  color: #fff;
}
.slogan
{
  font-weight: 300;
}
